body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.plyr {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
/* 自定义 Plyr 控件样式 */
.plyr__controls {
  background-color: #333;
  padding: 10px;
}

.plyr__progress--played, .plyr__volume--display {
  color: #ff3a3a;
}

/* 自定义 Plyr 错误提示信息样式 */
.plyr__poster {
  display: none;
}
.plyr__tab-focus:not(:focus-visible) {
  outline: none !important;
}
.plyr__tooltip {
  display: none;
}
.plyr__error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  color: red;
}
